body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f9ffe6, #63bd149c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .portada {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
  }
  
  h1 {
    margin-bottom: 10px;
    color: #63bd149c;
  }
  
  p {
    margin: 8px 0;
  }
  
  .boton-tour {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #63bd149c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .boton-tour:hover {
    background-color: #4a8d109c;
  }
  